@media only screen and (min-width: 320px) {
  #header {
    display: none;
  }

  .slider,
  .slider .carousel-cell {
    min-height: 450px;
  }

  .introduction {
    min-height: 500px;
    padding: 12px 0px;
  }

  .introduction .box-1 {
    padding: 10px;
  }

  .introduction .box-1 a h2 {
    width: auto;
    margin-bottom: 16px;
  }

  .introduction .box-1 .box_content img {
    width: 240px;
    height: 200px;
  }

  .introduction .box-2_1 {
    padding: 12px;
  }

  .introduction .box-2_1 .box_text a h4 {
    width: auto;
  }

  .introduction .box-2_1 div.icon {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }

  .solution {
    padding: 12px;
  }

  .solution .title h2 {
    width: 12rem;
  }

  .solution .title p {
    width: 18rem;
    margin-bottom: 4px;
  }

  .solution .options .icon_box,
  .solution .options h4 {
    margin-bottom: 8px;
  }

  .caused {
    padding: 12px;
  }

  .caused .title_caused h2 {
    width: 14rem;
  }

  .caused .title_caused p {
    width: 18rem;
    margin-bottom: 18px;
  }

  .caused div.info_caused {
    padding: 16px;
  }

  .statistics {
    padding: 12px;
  }

  .tools {
    padding: 4px;
  }

  .tools .title_tools {
    padding: 0;
  }

  .tools .title_tools h2 {
    width: 16rem;
  }

  .tools .title_tools p {
    width: 17rem;
  }

  .tools .box_tools {
    padding: 12px;
  }

  .newspapers_slide {
    padding: 12px;
  }

  .newspapers_slide .conten_slide {
    padding: 0;
  }

  /* position dots in carousel */
.newspapers_slide .flickity-page-dots {
    bottom: 4px;
}

/* white circles */
.newspapers_slide .flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    opacity: 1;
    background: #E6E8EC;
}

/* fill-in selected dot */
.newspapers_slide .flickity-page-dots .dot.is-selected {
    width: 30px;
    border-radius: 8px;
    background: #BB1F1F;
}

.newspapers_slide .conten_slide .text_container p {
    width: auto;
}

.newspapers_slide .conten_slide .text_container p {
    font-size: 18px;
}

}

@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 414px) {
}
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1440px) {
}
