* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #23262F;
    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 100px;
    background: #D5DBDB;
}

#content {
    width: 100%;
}

.slider {
    width: 100%;
    min-height: 560px;
}

.slider .carousel-cell {
    width: 100%;
    min-height: 560px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* position dots in carousel */
.slider .flickity-page-dots {
    bottom: 8px;
}

/* white circles */
.slider .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

/* fill-in selected dot */
.slider .flickity-page-dots .dot.is-selected {
    background: rgba(0, 0, 0, 0.5);
}

/* ============= */

.introduction {
    width: 100%;
    min-height: 800px;
    background: rgba(187, 31, 31, 0.1);
    padding: 50px 120px;
}

.introduction .box-1 {
    height: 100%;
    background: #fff;
    border-radius: 16px;
    padding: 70px;
}


.introduction a {
    color: #23262F;
    text-decoration: none;
}

.introduction .box-1 a h2 {
    width: 65%;
    margin-bottom: 40px;
}

.introduction .box-1 div.box_content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.introduction p {
    color: #23262F;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.introduction .box-2 {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.introduction .box-2_1 {
    height: 30%;
    background: #fff;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    align-items: center;
}

.introduction .box-2_1 .box_text {
    padding-right: 20px;
}

.introduction .box-2_1 a h4 {
    margin-bottom: 10px;
}

.introduction .box-2_1 button {
    margin: 0;
    border: none;
    background: #fff;
}

.introduction .box-2_1 div.icon {
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #D5DBDB;
    line-height: 50px;
}

.introduction .box-2_1 div.icon:hover {
    background: #E5E7E9;
    transition: 1s;
}

.introduction .box-2_1 button i {
    color: #BB1F1F;
}

/* ======= */
.solution {
    width: 100%;
    min-height: 500px;
    padding: 40px 200px;
}

.solution .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution .title h2 {
    width: 26rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.solution .title p {
    width: 58rem;
    color: #23262F;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 38px;
}

.solution .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.solution .options .icon_box {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(237, 49, 38, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
}

.solution .options h4 {
    font-weight: 700;
    margin-bottom: 12px;
}

.solution .options p {
    text-align: center;
    letter-spacing: 0.5px;
}

.solution .options button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BB1F1F;
    transition: 1s;
}

.solution .options button:hover {
    background: #943126;
}

.solution .options button .icon {
    padding-left: 8px;
}

/* ============ */

.caused {
    width: 100%;
    min-height: 500px;
    padding: 69px 100px;
    background: rgba(187, 31, 31, 0.1);
}

.caused .title_caused {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caused .info_caused_padding {
    padding: 0 18px;
}

.caused .title_caused h2 {
    width: 36rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.caused .title_caused p {
    width: 58rem;
    color: #23262F;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 38px;
}

.caused div.info_caused {
    padding: 40px 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
}

.caused div.info_caused .icon {
    margin-bottom: 20px;
}

.caused div.info_caused h4 {
    font-weight: 700;
    margin-bottom: 14px;
}

.caused div.info_caused p {
    text-align: center;
    letter-spacing: 0.5px;
}

/* ========== */

.statistics {
    width: 100%;
    min-height: 200px;
    background: #fff;
    padding: 40px 100px;
}

.statistics .contet_statistics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.statistics .contet_statistics h1 {
    font-size: 56px;
    font-weight: 800;
    text-shadow: 3px 0px 0px #ED3126;
    margin: 24px 0 14px 0;
}

.statistics .contet_statistics p {
    font-size: 24px;
    font-weight: 400;
}

/* =========== */

.tools {
    width: 100%;
    min-height: 500px;
    background: rgba(187, 31, 31, 0.1);
    padding: 72px 130px;
}

.tools .title_tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 40px 0;
}

.tools .title_tools h2 {
    width: 18rem;
    text-align: left;
}

.tools .title_tools p {
    width: 19rem;
    text-align: left;
}

.tools .box_tools {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #BB1F1F;
    padding: 60px 42px 168px 42px;
}

.tools .update_box_tools {
    padding: 60px 42px 139px 42px;
}

.tools .box_tools h4 {
    color: #ffff;
    width: 12rem;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 20px 0;
}

.tools .box_tools h4.width_title {
    width: 14rem;
}

.tools .box_tools p {
    color: #ffff;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
}

/* ========== */

.newspapers_slide {
    width: 100%;
    min-height: 300px;
}

.newspapers_slide .carousel-cell {
    width: 100%;
    min-height: 300px;
}

/* position dots in carousel */
.newspapers_slide .flickity-page-dots {
    bottom: 8px;
}

/* white circles */
.newspapers_slide .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #E6E8EC;
}

/* fill-in selected dot */
.newspapers_slide .flickity-page-dots .dot.is-selected {
    width: 30px;
    border-radius: 8px;
    background: #BB1F1F;
}

.newspapers_slide .conten_slide {
    width: 100%;
    min-height: 300px;
    background: #fff;
    padding: 74px 192px;
}

.newspapers_slide .conten_slide h2 {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.newspapers_slide .conten_slide .content_newspapers {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.newspapers_slide .conten_slide .content_newspapers .text_container p {
    width: 66rem;
    font-size: 24px;
}

.newspapers_slide .conten_slide .content_newspapers .text_container {
    padding-left: 50px;
}

.newspapers_slide .conten_slide .content_newspapers .text_container p.text_red {
    color: #BB1F1F;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.newspapers_slide .conten_slide .content_newspapers .text_container button {
    background: #BB1F1F;
}

/* =========== */

.consultation {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #BB1F1F;
}

.consultation .group_image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.consultation .group_image .image_common {
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
}

.consultation .group_image div.image1 {
    width: 40%;
    background-image: url('/assets/svg/Group.svg');
    background-position: left;
}

.consultation .group_image div.image2 {
    width: 60%;
    background-image: url('/assets/svg/Group\ \(1\).svg');
    background-position: right;
}

.consultation .content_consultation {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 40px 134px;
}

.consultation .title h2 {
    font-weight: 700;
    margin-bottom: 22px;
}

.consultation .title p {
    width: 45rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.consultation .button_group a {
    text-decoration: none;
}

.consultation .button_group button {
    width: 12rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 12px 20px;
}

.consultation .button_group button.btn_white {
    color: #BB1F1F;
    background: #fff;
    margin-right: 20px;

}

.consultation .button_group button.btn_red {
    color: #fff;
    border: 0.5px solid #fff;

}

/* ========== */

.blog {
    width: 100%;
    min-height: 500px;
    background: #F8F8F8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.blog .news_blog,
.blog .form-news {
    width: 50%;
    height: 100%;
}

.blog .news_blog {
    padding: 60px 30px 60px 100px;
}

.blog .news_blog .news_blog_child_pading {
    padding-top: 188px;
}

.blog .news_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 16px;
    background: #fff;
}

.blog .news_box img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.blog .news_box .text_box {
    padding: 20px 28px;
}

.blog .news_box .text_box .title_detail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.blog .news_box .text_box .title_detail p {
    color: #777E90;
    margin: 0;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.blog .text_box .title_detail a {
    color: #BB1F1F;
    font-size: 28px;
}

.blog .form-news {
    height: 50rem;
    background-image: url(/assets/svg/Mail_Sent.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    padding: 76px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog .form-news h2 {
    font-weight: 700;
}

.blog .form-news p.text_form {
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;
}

.blog .form-news p.form_submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.blog .form-news p.form_submit span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #E6E8EC;
    border-radius: 8px;
    background: #fff;
    padding: 8px 18px
}

.blog p.form_submit span i {
    color: #777E90;
}

.blog p.form_submit span input {
    border: none;
    height: 30px;
    font-size: 16px;
    margin-left: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;

}

.blog p.form_submit span input:focus {
    outline: 0;
}

.blog p.form_submit button {
    border: none;
    padding: 12px;
    background: #BB1F1F;
    border-radius: 8px;
    margin-left: 16px;
}

.blog p.form_submit button i {
    color: #fff;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    line-height: 32px;
}

/* ========== */

.partners {
    min-height: 200px;
    padding: 38px 20px;
}

.partners h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 36px;
}

#footer {
    width: 100%;
    height: 300px;
    background: #E8DAEF;
}