#nav_blog .nav_title ul {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}

#nav_blog .nav_title ul li {
    height: 100%;
    position: relative;
    list-style: none;
    padding: 10px 10px 0 10px;
}

#nav_blog .nav_title ul li b::after {
    content: '';
    width: 2px;
    height: 60%;
    background: #E6E8EC;
    position: absolute;
    right: 0;
    top: 28%
}

#nav_blog .nav_title ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
}

#nav_blog .nav_title ul li a .icon {
    font-size: 1.5em;
    padding-right: 8px;
}

#nav_blog .nav_title ul li a .icon,
#nav_blog .nav_title ul li a .text {
    color: #777E90;
}